<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.runningchallenge"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.runningchallenge.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="@string/step_detector"
        android:required="false" />
    <uses-feature
        android:name="@string/step_counter"
        android:required="false" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icone_application_android"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".StatisticsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_app"
            android:parentActivityName="com.example.runningchallenge.MapActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningchallenge.MapActivity" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_map"
            android:parentActivityName="com.example.runningchallenge.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningchallenge.MapActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCF7jH_kWYgsWUyxxspKK9WREvL1YyUwD0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.runningchallenge.MapActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningchallenge.MapActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".ClassementActivity"
            android:label="@string/title_activity_classement"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.runningchallenge.MapActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.runningchallenge.MapActivity" />
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_preferences" >
           
        </activity>
        <activity
            android:name=".SpeedActivity"
            android:label="@string/title_activity_speed" >
        </activity>
        <activity android:name="com.example.runningchallenge.AndroidDatabaseManager" />
        <activity
            android:name=".TestWS"
            android:label="@string/title_activity_test_ws" >    
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="32886901fb3758f27df2750d974778f27b94b425" />

        <activity
            android:name=".TwitterActivity"
            android:label="@string/title_activity_twitter" >
             
        </activity>
    </application>

</manifest>